<header>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-10 col-xl-8 text-center">
        <div class="position-relative">
          <a href="" class="text-dark text-decoration-none">
            <h1 class="text-lowercase">
              {{site.title}}
            </h1>
          </a>
          <div class="position-absolute" style="right:0; top:50%; transform: translateY(-50%);">
            <a href="https://www.instagram.com/{{site.instagram_username}}/" class="text-dark">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="text-uppercase small">
          {{site.description}}
        </div>
        <hr class="mt-2" />
      </div>
    </div>
  </div>
</header>