---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.img-cover {
  object-fit: cover;
}

.font-sacremento {
  font-family: "Sacramento", cursive;
}

@font-face {
  font-family: "LibreBaskerville";
  src: url("LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "BryndanWrite";
  src: url("BryndanWrite.ttf");
}

@font-face {
  font-family: "MoonTime";
  src: url("MoonTime-Regular.ttf");
}

.font-bryndan-write {
  font-family: "BryndanWrite";
}

.font-moon-time {
  font-family: "MoonTime";
}

.signature {
  font-family: "MoonTime";
  font-size: 60px;
  color: rgb(255, 51, 51);
}

.post {
  font-family: "LibreBaskerville";
}
