---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.img-cover {
  object-fit: cover;
}

@font-face {
  font-family: "Sacramento";
  src: url("Sacramento-Regular.ttf");
}

@font-face {
  font-family: "LibreBaskerville";
  src: url("LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "MoonTime";
  src: url("MoonTime-Regular.ttf");
}

.font-sacremento {
  font-family: "Sacramento", cursive;
}

.signature {
  font-family: "MoonTime";
  font-size: 60px;
  color: #cdb1b1;
}

body {
  font-family: "LibreBaskerville";
}

.font-default {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.w-50 {
  width: 50%;
}

$step: 50;

@for $i from 1 through 10 {
  .max-width-#{$i * $step} {
    width: 100%;
    max-width: #{$i * $step}px;
    height: auto;
  }
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.max-width-300 {
  max-width: 300px;
}

.max-width-400 {
  max-width: 400px;
}

.container {
  max-width: 760px;
}
